/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width:575.99px) {
 
  .banner {
    padding: 20px 9px 20px;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     min-height: 100px; 
}
.b_text h1 {
    margin-top: 50px;
    font-size: 30px !important;
     
}
  
.b_text p {
    font-size: 14px !important;
     
}
.b_text button {
    
    margin-bottom: 40px;
    padding: 1px 10px 5px !important;
     
}
.b_text button a {
    font-size: 9px !important;
     
}
.f_text h1 {
     
    font-size: 18px;
    
}
.f_text p {
    margin-top: 10px;
    margin-bottom: 70px !important;
    font-size: 14px;
     
} 
.card {
    margin-top: 5px;
    }



.card_text h2 {
    margin-top: 16px;
    margin-bottom: 6px !important;
    font-size: 16px;
     
}
.card_text p {
    
    font-size: 18px;
     
} 

.ps_text h2 {
     
    font-size: 18px;
    
}

.ps_text p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 20px !important;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.card_ps h2 {
    margin-top: -100px;
     
}
.card_ps p {
    font-size: 18px;
     
}
.button {
    padding: 2px 30px 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.g_text{
   margin-top: 60px;
 }
 
.g_text h2 {
    font-size: 25px;
    
}
.g_text p {
    font-size: 14px;
    
}
.g_text button {
    padding: 2px 30px 6px;
    margin-top: 18px;
    margin-bottom: 30px;
     
}
 
.c_text {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
}
.st_text h2 {
    margin-top: 50px;
    font-size: 20px;
    
}
.st_text P {
    margin-top: 15px;
    font-size: 12px;
    
}
.c_text h2 {
    font-size: 25px;
     
}

 
 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.banner {
    padding: 20px 9px 20px;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     min-height: 100px; 
}
 
.b_text h1 {
    margin-top: 110px;
    font-size: 40px !important;
     
}
 .b_text p {
    font-size: 10px !important;
    
}
.b_text button {
    padding: 1px 10px 3px !important;
     
}
.b_text button a {
    font-size: 12px !important;
    
}
 
 
.f_text p {
     margin-top: 3px;
    font-size: 30px;
    
}

 .f_text p {
    margin-top: 20px;
    margin-bottom: 0px !important;
    font-size: 20px;
    
}
.card_text p {
    font-size: 12px;
}
.card img {
    margin-top: -20px;
    width: 100%;
}

.card_ps h2 {
     padding-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
 

.card_ps p {
    
    font-size: 13px;
    
}
.button {
    padding: 1px 45px 1px;
     
}



.g_text{
   margin-top: 120px;
 }
 
.g_text h2 {
    font-size: 25px;
    
}
.g_text p {
    font-size: 16px;
    
}
.g_text button {
    padding: 2px 30px 6px;
    margin-top: 18px;
    margin-bottom: 30px;
     
}
.c_text p{
    font-size: 13px;
}
 

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px){
.banner {
   
     min-height: 400px;
}
 
.b_text p {
    
    font-size: 13px !important;
    
}
.b_text button {
     margin-bottom: 50px;
    padding: 3px 20px 8px !important;
     
}

.button {
    padding: 2px 60px 8px;
    
     
}
.ps_text p {
    
    font-size: 14px;
     
}

 .g_text h2 {
    font-size: 25px;
     
}

.g_text {
    margin-top: 160px;
     
}
.g_text p {
    font-size: 15px;
}
.g_text button {
    padding: 3px 40px 10px;
    
}
   
 

}
 

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px){
.f_text h1 {
    font-size: 30px;
     
}


.button{
  padding: 1px 70px 8px;
   
}
 

}
 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width:1200px) and (max-width: 1399.98px) {
  
 
}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px){
.button {
    padding: 9px 99px 15px;
 
}


}



   

